<% if user_signed_in? %>
  <% if @ticket %>
    <div class="next-live-section tickets mt-2 mb-5 mx-auto">
      <div class="headline">
        <% if @ticket.date > DateTime.current %>
          <h3>次のチケット(あと<%= "#{time_ago_in_words(@ticket.date).upcase}" %>)</h3>
        <% else @ticket.date <= DateTime.current %>
          <h3>次のチケット(開始してます)</h3>
        <% end %>
      </div>
      <div class="row next-ticket-info">
        <div class="col-md-9">
          <%= render "tickets/ticket", ticket: @ticket %>
        </div>
        <div class="col-md-3">
          <div class="weather-section">
            <%= render "shared/weather", ticket: @ticket %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div calendar-section>
    <%= month_calendar events: @tickets do |date, tickets| %>
      <%= date.strftime("%-d") %>
      <% tickets.each do |ticket| %>
        <%= link_to ticket.name, ticket %>
      <% end %>
    <% end %>
  </div>
  <div class="data-section row mt-5">
    <div class="col-lg-6 recommends-section">
      <div class="vertical-box-lg">
        <strong>全ての参加済みチケット (<%= current_user.tickets.done.release.count %>枚)</strong>
        <div class="most-place mt-3">
          <div class="index"><%= "#{current_user.name}が最も行った会場" if current_user.many_places(1).present? %></div>
          <strong class="d-block"><%= current_user.many_places(1) %></strong>
        </div>
        <div class="most-artist mt-3">
          <div class="index"><%= "#{current_user.name}が最も見に行ったアーティスト" if current_user.many_artists(1).present? %></div>
          <strong class="d-block mb-3"><%= current_user.many_artists(1) %></strong>
        </div>
        <% if current_user.many_artists(1).blank? %>
          <p class="index" style="font-size: 1.2rem;">他のユーザーが最近見に行ったアーティスト</p>
          <strong class="d-block"><%= Ticket.recently_artists(3) %></strong>
        <% elsif current_user.many_artists(1).present? && current_user.suggests(3).present?%>
          <div class="index"><%= "#{current_user.many_artists(1)}を見に行った他のユーザーが最近見に行ったアーティスト" %></div>
          <strong class="d-block"><%= current_user.suggests(3) %></strong>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 map-section">
      <%= link_to map_user_path(current_user), remote: true, class: "map-link" do %>
        <div id="regions"></div>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['geochart']});
          google.charts.setOnLoadCallback(drawRegionsMap);
          function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable(gon.prefectures);
            var options = { region: 'JP', resolution: 'provinces' };
            var chart = new google.visualization.GeoChart(document.getElementById('regions'));
            chart.draw(data, options);
          }
        </script>
      <% end %>
      <small>地図をクリックすると拡大できます</small>
    </div>
  </div>
<% else %>
  <%= render "home_not_login" %>
<% end %>
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
