<% if user_signed_in? %>
  <div class="heading-section">
    <div class="next-live events mt-2 col-lg-10 mx-auto">
      <h3>次回のイベント</h3>
      <%= render "events/event", event: @event %>
      <div class="spotify-section mb-5">
        <%= image_tag @image_url, alt: "アーティスト画像", class: "artist-image"  if @image_url %>
        <%= link_to "♪#{@event.performer.split(",").first}の曲を試聴する", @track_url, target: :_blank, class: "track-url" if @track_url %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="most-place mt-3 text-center">
          <%= "#{current_user.name}が最も行った会場" if current_user.most_places(1).present? %>
          <strong class="d-block"><%= current_user.most_places(1) %></strong>
        </div>
        <div class="most-artist mt-3 text-center">
          <%= "#{current_user.name}が最も見に行ったアーティスト" if current_user.most_artists(1).present? %>
          <strong class="d-block mb-3"><%= current_user.most_artists(1) %></strong>
          <%= "#{current_user.most_artists(1)}が好きな方にオススメのアーティスト♪" if current_user.recommends(3).present? %>
          <strong class="d-block"><%= current_user.recommends(3) %></strong>
        </div>
      </div>
      <div class="col-lg-6">
        <%= link_to "MAPを表示", map_user_path(current_user), remote: true, class: "map-link" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>LIVCALE</h1>
    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
