<% if user_signed_in? %>
  <div class="heading-section">
    <div class="next-live tickets mt-2 mx-auto">
      <div class="headline">
        <%= image_tag "8note.png", class: "eight-note" %>
        <h3>次のチケット(あと<%= "#{time_ago_in_words(@ticket.date).upcase}" %>)</h3>
      </div>
      <div class="row next-ticket-info">
        <div class="col-md-9">
          <%= render "tickets/ticket", ticket: @ticket %>
        </div>
        <div class="spotify-section mb-5 col-md-3 d-flex flex-column">
          <%= image_tag @image_url, alt: "アーティスト画像", class: "artist-image" if @image_url %>
          <%= link_to "♪#{@ticket.performer.split(",").first}の曲を試聴する", @track_url, target: :_blank, class: "track-url" if @track_url %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="most-place mt-3 text-center">
          <%= "#{current_user.name}が最も行った会場" if current_user.most_places(1).present? %>
          <strong class="d-block"><%= current_user.most_places(1) %></strong>
        </div>
        <div class="most-artist mt-3 text-center">
          <%= "#{current_user.name}が最も見に行ったアーティスト" if current_user.most_artists(1).present? %>
          <strong class="d-block mb-3"><%= current_user.most_artists(1) %></strong>
          <%= "#{current_user.most_artists(1)}を見に行った他のユーザーが最近見に行ったアーティスト♪" if current_user.recommends(3).present? %>
          <strong class="d-block"><%= current_user.recommends(3) %></strong>
        </div>
      </div>
      <div class="col-lg-6">
        <%= link_to "MAPを表示", map_user_path(current_user), remote: true, class: "map-link" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>LIVCALE</h1>
    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
