<%= @user.name %> 様
<p>明日のチケットの詳細をお送りします。</p>

<% @tickets.each do |ticket| %>
  <p>日付: <%= ticket.date.strftime("%Y/%-m/%-d") %></p>
  <p>時間: <%= ticket.date.strftime("%R") %></p>
  <p>イベント名: <%= ticket.name if ticket.name.present? %></p>
  <p>出演アーティスト: <%= ticket.name if ticket.performer.present? %></p>
  <p>会場: <%= ticket.place if ticket.place.present? %></p>
  <p>料金: <%= ticket.price if ticket.price.present? %></p>
  <p>詳細: <%= simple_format(h(ticket.content)) if ticket.content.present? %></p>
  天気: 
  <% case ticket.weather %>
  <% when "01d", "01n" %>
    <span>快晴</span>
  <% when "02d", "02n" %>
    <span>晴れ</span>
  <% when "03d", "03n" %>
    <span>薄曇り</span>
  <% when "04d", "04n" %>
    <span>曇り</span>
  <% when "09d", "09n" %>
    <span>にわか雨</span>
  <% when "10d", "10n" %>
    <span>雨</span>
  <% when "11d", "11n" %>
    <span>雷</span>
  <% when "13d", "13n" %>
    <span>雪</span>
  <% when "50d", "50n" %>
    <span>霧</span>
  <% end %>
  <p>気温: <%= ticket.temperature if ticket.temperature.present? %>℃</p>
  <br>
<% end %>

マイページはこちら
<%= user_url(@user) %>
