<%= link_to user_path(user.id), class: "user-partial" do %> 
  <li id="user-<%= user.id %>" class="user d-flex flex-column flex-md-row">
    <div class="user-left d-flex flex-row flex-md-column align-items-center">
      <%= image_tag user.image.variant(resize:'50x50').processed, class:"avatar" %>
      <strong class="name"><%= user.name %></strong>
    </div>
    <div class="ticket-center">
      <div class="profile"><i class="fas fa-comment"></i><%= user.profile %></div>
    </div>
  </li>
<% end %>
