<div class="user-section row">
  <div class="user-section-left col-lg-4">
    <%= link_to user do %>
      <%= image_tag user.image, class: "avatar" %>
    <% end %>
    <div class="name"><%= user.name %></div>
    <div class="stats mb-3">
      <%= render 'shared/stats', user: user %>
    </div>
    <%= render 'follow_btn', user: user %>
    <%= link_to "プロフィールを編集", edit_user_registration_path(current_user) if user == current_user %>
  </div>
  <div class="user-section-right col-lg-8">
    <div class="profile mt-3"><%= user.profile %></div>
    <%= link_to "MAPを表示", map_user_path(user), remote: true, class: "map-link" %>
  </div>
</div>
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
