<div class="user-section row mb-5">
  <div class="user-section-left col-lg-4">
    <%= link_to user do %>
      <%= image_tag user.image, class: "avatar" %>
    <% end %>
    <div class="name"><%= user.name %></div>
    <div class="stats mb-3">
      <%= render 'shared/stats', user: user %>
    </div>
    <%= render 'follow_btn', user: user %>
  </div>
  <div class="user-section-right col-lg-8">
    <div class="profile my-3"><%= user.profile %></div>
    <div class="user-items d-flex flex-column align-items-center align-items-lg-stretch">
      <a href="#user-ticket">
        <P><i class="fas fa-ticket-alt"></i>参加済みのチケット (<%= @user.tickets.done.release.count %>枚)</P>
      </a>
      <%= link_to map_user_path(user), remote: true, class: "map-link" do %>
        <i class="fas fa-map"></i><p>都道府県MAPを表示</p>
      <% end %>
      <% if user == current_user %>
        <%= link_to edit_user_registration_path(current_user) do %>
          <i class="fas fa-user-edit"></i><p>アカウント情報を編集</p>
        <% end %>
      <% end %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "このユーザーを削除する", user, method: :delete, data: { confirm: "削除してよろしいですか?" } %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
