<div class="user-section row mb-5">
  <div class="user-section-left col-lg-3">
    <%= link_to user do %>
      <%= image_tag user.image, class: "avatar" %>
    <% end %>
    <div class="name"><%= user.name %></div>
    <div class="stats">
      <%= render 'shared/stats', user: user %>
    </div>
  </div>
  <div class="user-section-center col-lg-6 mb-3">
    <div class="vertical-box-lg">
      <div class="profile my-3"><%= user.profile %></div>
      <div class="user-items d-flex">
        <%= render 'follow_btn', user: user %>
        <a href="#user-ticket" class="ticket-form"><small>参加済みの<br>チケット</small><br><strong><%= @user.tickets.done.release.count %>枚</strong></a>
        <%= link_to map_user_path(user), remote: true, class: "map-form" do %>
          <%= image_tag "/images/japan.png", class: "user-item" %>
        <% end %>
        <% if user == current_user %>
          <%= link_to edit_user_registration_path(current_user), class: "edit-form" do %>
            <small>アカウント<br>情報を編集</small><br><i class="fas fa-user-edit"></i>
          <% end %>
        <% end %>
      </div>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "このユーザーを削除する", user, method: :delete, data: { confirm: "削除してよろしいですか?" } %>
      <% end %>
    </div>
  </div>
  <div class="user-section-right col-lg-3">
    <div class="vertical-box-lg pr-3">
      <strong>Recommended Artist</strong>
      <%= image_tag user.recommend_image, alt: "アーティスト画像", class: "recommend-image" if user.recommend_image.present? %>
      <% if user.recommend.present? %>
        <span><%= user.recommend %></span>
      <% else %>
        <span>設定されていません。</span>
      <% end %>
      <% if user.recommend_track.present? %>
        <%= link_to user.recommend_track, target: :_blank, class: "recommend-track" do %>
          <i class="fas fa-headphones ml-1"></i>
        <% end %>
      <% end %>
      <%= link_to recommend_user_path(current_user), remote: true do %>
        <i class="fas fa-wrench ml-1"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="recommend-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
