<% unless ticket.weather == "no display" %>
	<p>当日の天気</p>
	<% case ticket.weather %>
	<% when "01d", "01n" %>
		<%= image_tag "/images/weather_icon/01d@4x.png" %>
		<strong>快晴</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "02d", "02n" %>
		<%= image_tag "/images/weather_icon/02d@4x.png" %>
		<strong>晴れ</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "03d", "03n" %>
		<%= image_tag "/images/weather_icon/03d@4x.png" %>
		<strong>薄曇り</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "04d", "04n" %>
		<%= image_tag "/images/weather_icon/04d@4x.png" %>
		<strong>曇り</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "09d", "09n" %>
		<%= image_tag "/images/weather_icon/10d@4x.png" %>
		<strong>にわか雨</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "10d", "10n" %>
		<%= image_tag "/images/weather_icon/09d@4x.png" %>
		<strong>雨</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "11d", "11n" %>
		<%= image_tag "/images/weather_icon/11d@4x.png" %>
		<strong>雷</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "13d", "13n" %>
		<%= image_tag "/images/weather_icon/13d@4x.png" %>
		<strong>雪</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% when "50d", "50n" %>
		<%= image_tag "/images/weather_icon/50d@4x.png" %>
		<strong>霧</strong>
		<strong><%= "（#{ticket.temperature}℃）" if ticket.temperature.present? %></strong>
	<% else %>
		<% if ticket.date <=  DateTime.current %>
			<%= link_to "天気の情報を編集する", edit_ticket_path(@ticket), remote: true %>
			<span></span>
		<% else %>
			<small>約5日前になると自動で天気を取得します</small>
			<br>
			<small>(都道府県の設定が必要)</small>
		<% end %>
	<% end %>
<% end %>
