<%= link_to event_path(event.id), class: "event-partial" do %> 
  <li id="event-<%= event.id %>" class="event d-flex">
    <div class="event-left d-flex flex-column align-items-center">
      <%= image_tag event.user.image.variant(resize:'50x50').processed, class:"avatar" %>
      <span class="date"><%= event.date.strftime("%-m/%-d") %></span>
    </div>
    <div class="event-center">
      <span class="user-name"><%= event.user.name %></span>
      <span class="event-name"><%= event.name %></span>
      <span class="performer"><i class="fas fa-user"></i><%= event.performer%></span>
      <span class="place"><i class="fas fa-map-marker-alt"></i><%= event.place %></span>
      <span class="content"><i class="fas fa-comment"></i><%= event.content %></span>
    </div>
    <%= image_tag event.images.first.variant(resize:'100x100').processed, class:"image" if event.images.attached?  %>
  </li>
<% end %>
