<% provide(:title, "イベント - new") %>
<h1>イベントを作成</h1>

<div class="form-container">
  <%= form_with(model: @event, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :date, '日付' %>
      <%= f.date_field :date, autofocus: true, autocomplete: 'date', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'イベント名' %>
      <%= f.text_field :name, autocomplete: 'current-password', class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :performer, 'アーティスト' %>
      <%= f.text_area :performer, autocomplete: 'current-password', class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :place, '会場' %>
      <%= f.text_field :place, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price, '料金' %>
      <%= f.text_field :price, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :content, '詳細' %>
      <%= f.text_area :content, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <div class="form-group images">
      <%= f.label :images, '画像' %>
      <%= f.file_field :images, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :public, '公開する' %>
      <%= f.check_box :public %>
    </div>


    <div class="form-group">
      <%= f.submit  '投稿する', class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>
