<% provide(:title, @event.name) %>
<div id="event-<%= @event.id %>" class="event-show" >
  <%= link_to user_path(@event.user), class: "user d-flex justify-content-center" do %>
    <%= image_tag @event.user.image.variant(resize:'50x50').processed, class:"avatar" %>
    <div class="user-name"><%= @event.user.name %></div>
  <% end %>
  <% if @event.public %>
    <h1 class="event-name mt-3"><%= @event.name %></h1>
  <% else %>
    <h1 class="event-name mt-3"><i class="fas fa-lock"></i><%= @event.name %></h1>
  <% end %>
  <div class="row">
    <div class="main-section col-lg-7">
      <div class="d-flex h-100px" >
        <%= render "likes/like", event: @event %>
        <% if @event.user == current_user %>
          <%= link_to '編集', edit_event_path(@event), class: "edit-mark" %>
          <%= link_to '削除', @event, method: :delete, data: { confirm: '削除してよろしいですか？'}, class: "edit-mark" %>
        <% end %>
      </div>
      <table>
        <tr>
          <td><i class="far fa-calendar-alt fa-2x"></i></td>
          <td class="event-column date"><%= @event.date.strftime("%Y/%-m/%-d") %></td>
        </tr>
        <tr>
          <td><i class="fas fa-user fa-2x"></i></td>
          <td class="event-column performer">
            <%= @event.performer%>
          </td>
        </tr>
        <tr>
          <td><i class="fas fa-map-marker-alt fa-2x"></i></td>
          <td class="event-column place"></i><%= @event.place %></td>
        </tr>
        <tr>
          <td><i class="fas fa-money-bill-wave-alt fa-2x"></i></td>
          <td class="event-column price"><%= @event.price %></td>
        </tr>
        <tr>
          <td><i class="fas fa-comment fa-2x"></i></td>
          <td class="event-column content"><%= simple_format(h(@event.content)) %></td>
        </tr>
      </table>
      <% if @event.images.attached? %>
        <% @event.images.each do |image| %>
          <%= image_tag image.variant(resize:'200x200').processed, class:"images" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-5 mt-5 side-section">
      <div class="spotify-section mb-5">
        <%= image_tag @image_url, alt: "アーティスト画像", class: "artist-image"  if @image_url %>
        <%= link_to "♪#{@event.performer.split(",").first}の曲を試聴する", @track_url, target: :_blank, class: "track-url" if @track_url %>
      </div>
      <div class="comment-section mt-3">
        <div class="comment-list">
          <h2><%= @comments.present? ? "コメント一覧" : "コメントはありません"  %></h2>
          <%= render @comments %>
          <%= paginate @comments %>
        </div>
        <div class="comment-form">
          <%= form_with model: [@event, @comment] do |f| %>
            <%= f.text_area :content, class: "area" %>
            <br>
            <%= f.submit 'コメントする', class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
