<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="headline my-3 ml-sm-5">
      <%= image_tag "/images/8note.png", class: "eight-note" %>
      <h3>イベントを作成</h3>
    </div>
    <div class="form-container">
      <%= form_with(model: @ticket, remote: true) do |f| %>
        <div class="form-group">
          <%= f.label :date, '日付' %>
          <%= f.datetime_field :date, autofocus: true, autocomplete: 'date', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :name, 'イベント名' %>
          <%= f.text_field :name, autocomplete: 'current-password', class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :performer, 'アーティスト' %>
          <small class="d-block">※複数入力する場合は「,」(半角)でくぎってください。</small> 
          <small class="d-block">(例) アーティストA, アーティストB, アーティストC, ...</small>
          <%= f.text_area :performer, autocomplete: 'current-password', class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :place, '会場' %>
          <%= f.text_field :place, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :prefecture, '都道府県' %>
          <small class="d-block">※選択すると日本地図に反映されます。</small>
          <%= f.select :prefecture, [["北海道", "北海道"], ["青森県", "青森"], ["秋田県", "秋田"], ["岩手県", "岩手"], ["宮城県", "宮城"], ["山形県", "山形"], ["福島県", "福島"], ["栃木県", "栃木"], ["群馬県", "群馬"], ["茨城県", "茨城"], ["東京都", "東京"], ["埼玉県", "埼玉"], ["千葉県", "千葉"], ["神奈川県", "神奈川"], ["静岡県", "静岡"], ["愛知県", "愛知"], ["岐阜県", "岐阜"], ["三重県", "三重"], ["滋賀県", "滋賀"], ["京都府", "京都"], ["大阪府", "大阪"], ["奈良県", "奈良"], ["和歌山県", "和歌山"], ["兵庫県", "兵庫"], ["徳島県", "徳島"], ["香川県", "香川"], ["愛媛県", "愛媛"], ["高知県", "高知"], ["福岡県", "福岡"], ["佐賀県", "佐賀"], ["長崎県", "長崎"], ["大分県", "大分"], ["熊本県", "熊本"], ["宮崎県", "宮崎"], ["鹿児島県", "鹿児島"], ["沖縄県", "沖縄"], ["岡山県", "岡山"], ["広島県", "広島"], ["山口県", "山口"], ["鳥取県", "鳥取"], ["島根県", "島根"], ["石川県", "石川"], ["福井県", "福井"], ["富山県", "富山"], ["山梨県", "山梨"], ["長野県", "長野"], ["新潟県", "新潟"]], include_blank: "未設定", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :price, '料金' %>
          <%= f.text_field :price, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :content, '詳細' %>
          <%= f.text_area :content, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="form-group images">
          <%= f.label :images, '画像' %>
          <%= f.file_field :images, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :public, '公開する' %>
          <%= f.check_box :public %>
        </div>

        <div class="form-group">
          <%= f.submit  '投稿する', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>