<div class="timeline mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#done" class="nav-link active" data-toggle="tab">参加済みのチケット</a>
    </li>
    <li class="nav-item">
      <a href="#upcomming" class="nav-link" data-toggle="tab">参加予定のチケット</a>
    </li>
    <% if user.id==current_user.id && unsolved_tickets.present?%>
      <li class="nav-item">
        <a href="#unsolved" class="nav-link" data-toggle="tab">振り分け待ちのチケット</a>
      </li>
    <% end %>
  </ul>
  <div id="tickets-area" class="tab-content">
    <div id="done" class="tab-pane active">
      <% if done_tickets.present? %>
        <ol class="tickets">
          <%= render done_tickets %>
        </ol>
        <%= paginate done_tickets %>
      <% else %>
        <p>参加済みのチケットはありません</p>
      <% end %>
    </div>
    <div id="upcomming" class="tab-pane">
      <% if upcomming_tickets.present? %>
        <ol class="tickets">
          <%= render upcomming_tickets %>
        </ol>
        <%= paginate upcomming_tickets %>
      <% else %>
        <p>参加予定のチケットはありません</p>
      <% end %>
    </div>
    <div id="unsolved" class="tab-pane">
      <div class="unsolved-explanation">
        <strong class="d-block">イベントに参加しましたか？</strong>
        <strong>「参加した」「参加しなかった」のどちらかをクリックしてください。</strong>
        <p>・「参加した」をクリック → 参加済みのチケットに移動します。</p>
        <p>・「参加しなかった」をクリック → チケットを削除します。</p>
      </div>
      <ol class="tickets">
        <%= render unsolved_tickets %>
      </ol>
      <%= paginate unsolved_tickets %>
    </div>
  </div>
</div>