<% provide(:title, @ticket.name) %>
<div class="previous-next d-flex justify-content-between">
  <% if @ticket.previous %>
    <%= link_to ticket_path(@ticket.previous.id) do %>
      <span><<</span>
    <% end %>
  <% else %>
    <small>_</small>
  <% end %>
  <% if @ticket.next %>
    <%= link_to ticket_path(@ticket.next.id) do %>
      <span>>></span>
    <% end %>
  <% else %>
    <small>_</small>
  <% end %>
</div>
<div id="ticket-<%= @ticket.id %>" class="ticket-show" >
  <%= link_to user_path(@ticket.user), class: "user d-flex justify-content-center" do %>
    <%= image_tag @ticket.user.image.variant(resize:'50x50').processed, class:"avatar" %>
    <div class="user-name"><%= @ticket.user.name %></div>
  <% end %>
  <% if @ticket.public %>
    <h1 class="ticket-name mt-3"><%= @ticket.name %></h1>
  <% else %>
    <h1 class="ticket-name mt-3"><i class="fas fa-lock"></i><%= @ticket.name %></h1>
  <% end %>
  <div class="row">
    <div class="main-section col-lg-8">
      <table>
        <tr>
          <td class="icon"><i class="far fa-calendar-alt fa-2x"></i></td>
          <td class="ticket-column date"><%= @ticket.date.strftime("%Y / %-m / %-d ( %R )") %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fas fa-user fa-2x"></i></td>
          <td class="ticket-column performer"><%= @ticket.performer%></td>
        </tr>
        <tr>
          <td class="icon"><i class="fas fa-map-marker-alt fa-2x"></i></td>
          <td class="ticket-column place"></i><%= @ticket.place %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fas fa-money-bill-wave-alt fa-2x"></i></td>
          <td class="ticket-column price"><%= @ticket.price %></td>
        </tr>
        <tr>
          <td class="icon"><i class="fas fa-comment fa-2x"></i></td>
          <td class="ticket-column content"><small><%= simple_format(h(@ticket.content)) %></small></td>
        </tr>
      </table>
      <% if @ticket.images.attached? %>
        <% @ticket.images.each do |image| %>
          <%= image_tag image.variant(resize:'200x200').processed, class:"images" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4 mt-5 side-section">
      <div class="d-flex align-items-center h-100px ticket-show-items" >
        <%= render "likes/like", ticket: @ticket %>
        <% if @ticket.user == current_user %>
          <%= link_to '編集', edit_ticket_path(@ticket), remote: true, class: "mr-3" %>
          <%= link_to '削除', @ticket, method: :delete, title: 'イベントの削除', data: { confirm: '削除してよろしいですか？', commit: '削除', cancel: '中止' } %>
        <% end %>
      </div>
      <% unless @ticket.weather == "no display" || (@ticket.weather.blank? && (@ticket.date <=  DateTime.current)) %>
        <div class="weather-section mb-5">
          <%= render "shared/weather", ticket: @ticket %>
        </div>
      <% end %>
      <div class="comment-section mt-3">
        <div class="comment-list">
          <h2><%= @comments.present? ? "コメント一覧" : "コメントはありません"  %></h2>
          <%= render @comments %>
          <%= paginate @comments %>
        </div>
        <div class="comment-form">
          <%= form_with model: [@ticket, @comment], local: true do |f| %>
            <%= f.text_area :content, class: "area" %>
            <br>
            <%= f.submit 'コメントする', class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
