<div class="bg-dark border-right" id="sidebar-wrapper">
  <%= link_to "LIVCALE", root_path, id: "logo", class: "navbar-brand sidebar-heading" %>
  <section class="user-info d-flex">
    <div class="avatar-box">
      <%= image_tag 'treble_clef.png', class: "clef-image"%>
      <%= link_to current_user do %>
        <% image_tag current_user.image, class: "avatar" %>
      <% end %>
    </div>
    <div class="user-column">
      <h1><%= current_user.name %></h1>
      <span><%= link_to "view my profile", current_user %></span>
      <span><%= pluralize(current_user.events.count, "イベント") %></span>
    </div>
  </section>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-dark">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-dark">Shortcuts</a>
    <%= link_to events_path, class:"list-group-item list-group-item-action bg-dark" do %>
    <i class="far fa-comments fa-2x"></i>皆んなのイベント
    <% end %>
    <%= link_to new_event_path, class:"list-group-item list-group-item-action bg-dark" do %>
    <i class="far fa-edit fa-2x"></i>書き込む
    <% end %>
    <%= link_to about_path, class:"list-group-item list-group-item-action bg-dark" do %>
      <i class="fas fa-info-circle fa-2x"></i>このサイトについて
    <% end %>
  </div>
</div>